/app/tmp
/lib/Cake/Console/Templates/skel/tmp/
/plugins
/vendors
/build
/dist
.DS_Store
tags
cakephp/lib/
cakephp/README
cakephp/app/.htaccess
cakephp/app/Console/
cakephp/app/Lib/
cakephp/app/Locale/
cakephp/app/tmp/
cakephp/build*
*~
cakephp/.travis.yml
cakephp/app/tmp/cache/persistent/*
cakephp/app/tmp/cache/persistent/myapp_cake_core_file_map
cakephp/app/tmp/
phpqrcode/errors.txt
phpqrcode/qrCode.png-errors.txt
